/* a {
    color: indianred;
}

nav a {
    color: #2ec172;
    font-size: 22px;
}

span {
    color: rgb(24, 131, 219);
}

#banner {
    color: #888;
}
.banner_info {
    font-family: system-ui;
    font-size: 28px;
    font-weight: 200;
}
#section-1 {
    background: linear-gradient(#14dcee, #fff);
    color: white;
}
#section-2 {
color: #888;
}

footer {
    background-color: #333;
    color: #ffffffbb;
} */