header {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    align-items: center;
}

.header_navigator {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.header_settings {
    display: flex;
    align-items: center;
    gap: 60px;
}

.language {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Jost';
    font-weight: 300;
    color: #454868;
}

header button {
    background-color: transparent;
    border: 1px solid #45486843;
    color: #454868;
}